* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
  
html {
    overflow: hidden;
}

@font-face {
    font-family: 'manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

.content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    text-align: center;
}

.content-left-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    text-align: center;
}

.content-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    height: auto;
}

.content-left-text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 70%;
    height: auto;
    font-size: 3em;
    text-align: left;
    font-family: 'manrope';
    line-height: 80px;
    /* color: #BC5A26; */
    color: black;
    text-align: center;
    font-weight: 600;
}

.content-left-text-black {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 70%;
    height: auto;
    font-size: 3em;
    text-align: left;
    font-family: 'manrope';
    line-height: 80px;
    /* color: #BC5A26; */
    color: white;
    text-align: center;
    font-weight: 600;
}

.content-left-buttons {
    position: relative;
    top: 90%;
    /* left: 40%; */
    text-align: center;
    font-family: 'manrope', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: 700;
    width: 100%;
}

.content-left-buttons a {
    color: white;
    text-decoration: none;
}

.content-left-buttons a:hover {
    color: black;
}

.right-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.button {
    background-color: #BC5A26;
    color: white;
    border: none;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}