.book-form-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 45%;
  margin: 20px;
  padding: 20px 30px;
  font-family: Arial, sans-serif;
}

.book-form-card h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.book-form-card label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.book-form-card input[type="text"],
.book-form-card input[type="date"],
.book-form-card input[type="file"],
.book-form-card textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
  
.book-form-card textarea {
  resize: vertical;
}

.book-form-card button {
  margin-top: 20px;
  width: 100%;
  background-color: #b33c00;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.book-form-card button:hover {
  background-color: #000;
}
  
.book-covers-container-submit {
  position: absolute;
  top: 20%;
  left: 0;
  width: 83%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
}

.descriptions {
  width: 40%;
}

.example-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

p {
  font-family: 'Manrope', sans-serif;
}

.bold {
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
}